In [1]:
# A blank canvas...

In [1]:
import pandas as pd
import numpy as np

In [3]:
massey = pd.read_csv('./MasseyOrdinals.csv')

In [4]:
massey.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [5]:
massey.shape

(3200201, 5)

In [6]:
massey[massey['OrdinalRank'] == 1]

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
116        2003             35        SEL    1231            1
328        2003             37         AP    1112            1
605        2003             37        BIH    1386            1
795        2003             37        DUN    1231            1
1064       2003             37        ENT    1166            1
1391       2003             37        GRN    1166            1
1718       2003             37        IMS    1166            1
2059       2003             37        MAS    1181            1
2372       2003             37        MKV    1166            1
2713       2003             37        MOR    1181            1
3164       2003             37        POM    1323            1
3345       2003             37        RPI    1158            1
3680       2003             37        SAG    1166            1
4202       2003             37        SAU    1386            1
4392       2003             37         SE    1231            1
4661       2003             37        STR    1166            1
4931       2003             37        USA    1112            1
5208       2003             37        WLK    1386            1
5340       2003             37        WOB    1166            1
5641       2003             42        BOB    1139            1
6052       2003             43        SEL    1231            1
6264       2003             44         AP    1112            1
6541       2003             44        BIH    1386            1
6811       2003             44        ENT    1323            1
7000       2003             44        GRN    1166            1
7327       2003             44        IMS    1166            1
7654       2003             44        MAS    1166            1
8119       2003             44        MKV    1323            1
8322       2003             44        MOR    1181            1
8773       2003             44        POM    1323            1
...         ...            ...        ...     ...          ...
3190101    2017            133        PIG    1211            1
3190673    2017            133        PMC    1437            1
3190803    2017            133        POM    1211            1
3191375    2017            133        PRR    1437            1
3191505    2017            133        REW    1211            1
3192077    2017            133        RPI    1437            1
3192207    2017            133        RSL    1211            1
3192558    2017            133         RT    1211            1
3192909    2017            133        RTH    1211            1
3193481    2017            133        RTP    1437            1
3193611    2017            133        SAG    1211            1
3194183    2017            133        SEL    1437            1
3194313    2017            133        SFX    1211            1
3194664    2017            133        SGR    1211            1
3195236    2017            133        SMN    1437            1
3195587    2017            133        SMS    1437            1
3195717    2017            133         SP    1211            1
3196289    2017            133        SPR    1437            1
3196419    2017            133        SPW    1211            1
3196991    2017            133        STH    1437            1
3197121    2017            133        TPR    1211            1
3197472    2017            133        TRK    1211            1
3197823    2017            133        TRP    1211            1
3198090    2017            133        USA    1437            1
3198420    2017            133        WIL    1437            1
3198771    2017            133        WLK    1437            1
3198901    2017            133        WOB    1211            1
3199252    2017            133        WOL    1211            1
3199603    2017            133        YAG    1211            1
3200175    2017            133        ZAM    1437            1

[10180 rows x 5 columns]

In [7]:
massey[(massey['OrdinalRank'] == 1) & (massey['SystemName'] == 'AP')]

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
328        2003             37         AP    1112            1
6264       2003             44         AP    1112            1
11545      2003             51         AP    1104            1
19116      2003             57         AP    1104            1
27018      2003             65         AP    1181            1
34916      2003             71         AP    1181            1
43465      2003             79         AP    1112            1
51690      2003             85         AP    1112            1
60900      2003             93         AP    1196            1
70099      2003             99         AP    1112            1
80935      2003            106         AP    1112            1
91117      2003            112         AP    1112            1
104244     2003            120         AP    1112            1
112796     2003            127         AP    1112            1
121030     2003            133         AP    1246            1
131537     2004             13         AP    1163            1
132565     2004             23         AP    1163            1
133925     2004             30         AP    1242            1
136254     2004             37         AP    1196            1
140539     2004             43         AP    1163            1
145802     2004             50         AP    1163            1
151394     2004             56         AP    1163            1
158616     2004             64         AP    1163            1
167795     2004             71         AP    1163            1
176437     2004             78         AP    1181            1
185108     2004             86         AP    1181            1
195084     2004             91         AP    1181            1
207343     2004             99         AP    1181            1
215384     2004            105         AP    1390            1
227971     2004            113         AP    1390            1
...         ...            ...        ...     ...          ...
2652651    2016             58         AP    1277            1
2666861    2016             65         AP    1242            1
2684934    2016             72         AP    1242            1
2703718    2016             79         AP    1328            1
2723148    2016             86         AP    1328            1
2742928    2016             93         AP    1328            1
2762014    2016            100         AP    1437            1
2781796    2016            107         AP    1437            1
2801928    2016            114         AP    1437            1
2822748    2016            121         AP    1242            1
2844284    2016            128         AP    1242            1
2865118    2016            133         AP    1242            1
2884895    2017             16         AP    1181            1
2890634    2017             23         AP    1246            1
2896746    2017             30         AP    1246            1
2905323    2017             37         AP    1437            1
2918098    2017             44         AP    1437            1
2932628    2017             51         AP    1437            1
2948566    2017             58         AP    1437            1
2964850    2017             65         AP    1437            1
2982521    2017             72         AP    1124            1
3000580    2017             79         AP    1437            1
3020028    2017             86         AP    1437            1
3040513    2017             93         AP    1211            1
3062063    2017            100         AP    1211            1
3084315    2017            107         AP    1211            1
3107201    2017            114         AP    1211            1
3130188    2017            121         AP    1242            1
3152827    2017            128         AP    1242            1
3175823    2017            133         AP    1437            1

[272 rows x 5 columns]

In [11]:
teams = pd.read_csv('./DataFiles/Teams.csv')
teams

     TeamID         TeamName  FirstD1Season  LastD1Season
0      1101      Abilene Chr           2014          2018
1      1102        Air Force           1985          2018
2      1103            Akron           1985          2018
3      1104          Alabama           1985          2018
4      1105      Alabama A&M           2000          2018
5      1106       Alabama St           1985          2018
6      1107        Albany NY           2000          2018
7      1108        Alcorn St           1985          2018
8      1109     Alliant Intl           1985          1991
9      1110    American Univ           1985          2018
10     1111   Appalachian St           1985          2018
11     1112          Arizona           1985          2018
12     1113       Arizona St           1985          2018
13     1114  Ark Little Rock           1985          2018
14     1115   Ark Pine Bluff           1999          2018
15     1116         Arkansas           1985          2018
16     1117      Arkansas St           1985          2018
17     1118     Armstrong St           1987          1987
18     1119             Army           1985          2018
19     1120           Auburn           1985          2018
20     1121          Augusta           1985          1991
21     1122      Austin Peay           1985          2018
22     1123          Ball St           1985          2018
23     1124           Baylor           1985          2018
24     1125          Belmont           2000          2018
25     1126  Bethune-Cookman           1985          2018
26     1127       Binghamton           2002          2018
27     1128    Birmingham So           2003          2006
28     1129         Boise St           1985          2018
29     1130   Boston College           1985          2018
..      ...              ...            ...           ...
334    1435       Vanderbilt           1985          2018
335    1436          Vermont           1985          2018
336    1437        Villanova           1985          2018
337    1438         Virginia           1985          2018
338    1439    Virginia Tech           1985          2018
339    1440              VMI           1985          2018
340    1441       W Carolina           1985          2018
341    1442       W Illinois           1985          2018
342    1443              WKU           1985          2018
343    1444       W Michigan           1985          2018
344    1445       W Salem St           2007          2010
345    1446      W Texas A&M           1985          1986
346    1447           Wagner           1985          2018
347    1448      Wake Forest           1985          2018
348    1449       Washington           1985          2018
349    1450    Washington St           1985          2018
350    1451         Weber St           1985          2018
351    1452    West Virginia           1985          2018
352    1453     WI Green Bay           1985          2018
353    1454     WI Milwaukee           1991          2018
354    1455       Wichita St           1985          2018
355    1456   William & Mary           1985          2018
356    1457         Winthrop           1987          2018
357    1458        Wisconsin           1985          2018
358    1459          Wofford           1996          2018
359    1460        Wright St           1988          2018
360    1461          Wyoming           1985          2018
361    1462           Xavier           1985          2018
362    1463             Yale           1985          2018
363    1464    Youngstown St           1985          2018

[364 rows x 4 columns]

In [9]:
aprankings = massey[(massey['OrdinalRank'] == 1) & (massey['SystemName'] == 'AP')]
aprankings

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
328        2003             37         AP    1112            1
6264       2003             44         AP    1112            1
11545      2003             51         AP    1104            1
19116      2003             57         AP    1104            1
27018      2003             65         AP    1181            1
34916      2003             71         AP    1181            1
43465      2003             79         AP    1112            1
51690      2003             85         AP    1112            1
60900      2003             93         AP    1196            1
70099      2003             99         AP    1112            1
80935      2003            106         AP    1112            1
91117      2003            112         AP    1112            1
104244     2003            120         AP    1112            1
112796     2003            127         AP    1112            1
121030     2003            133         AP    1246            1
131537     2004             13         AP    1163            1
132565     2004             23         AP    1163            1
133925     2004             30         AP    1242            1
136254     2004             37         AP    1196            1
140539     2004             43         AP    1163            1
145802     2004             50         AP    1163            1
151394     2004             56         AP    1163            1
158616     2004             64         AP    1163            1
167795     2004             71         AP    1163            1
176437     2004             78         AP    1181            1
185108     2004             86         AP    1181            1
195084     2004             91         AP    1181            1
207343     2004             99         AP    1181            1
215384     2004            105         AP    1390            1
227971     2004            113         AP    1390            1
...         ...            ...        ...     ...          ...
2652651    2016             58         AP    1277            1
2666861    2016             65         AP    1242            1
2684934    2016             72         AP    1242            1
2703718    2016             79         AP    1328            1
2723148    2016             86         AP    1328            1
2742928    2016             93         AP    1328            1
2762014    2016            100         AP    1437            1
2781796    2016            107         AP    1437            1
2801928    2016            114         AP    1437            1
2822748    2016            121         AP    1242            1
2844284    2016            128         AP    1242            1
2865118    2016            133         AP    1242            1
2884895    2017             16         AP    1181            1
2890634    2017             23         AP    1246            1
2896746    2017             30         AP    1246            1
2905323    2017             37         AP    1437            1
2918098    2017             44         AP    1437            1
2932628    2017             51         AP    1437            1
2948566    2017             58         AP    1437            1
2964850    2017             65         AP    1437            1
2982521    2017             72         AP    1124            1
3000580    2017             79         AP    1437            1
3020028    2017             86         AP    1437            1
3040513    2017             93         AP    1211            1
3062063    2017            100         AP    1211            1
3084315    2017            107         AP    1211            1
3107201    2017            114         AP    1211            1
3130188    2017            121         AP    1242            1
3152827    2017            128         AP    1242            1
3175823    2017            133         AP    1437            1

[272 rows x 5 columns]

In [10]:
for yr in np.arange(2003, 2018):
    print(yr)
    topteams = set(aprankings[aprankings['Season'] == yr]['TeamID'])
    for t in topteams:
        print(teams[teams['TeamID'] == t]['TeamName'].values[0])

2003
Florida
Alabama
Arizona
Duke
Kentucky
2004
St Joseph's PA
Connecticut
Florida
Stanford
Kansas
Duke
2005
Wake Forest
Kansas
Illinois
2006
Connecticut
Duke
2007
North Carolina
UCLA
Florida
Ohio St
Wisconsin
2008
Memphis
North Carolina
Tennessee
2009
North Carolina
Wake Forest
Louisville
Connecticut
Pittsburgh
Duke
2010
Texas
Syracuse
Kansas
Kentucky
2011
Kansas
Duke
Ohio St
2012
Syracuse
North Carolina
Kentucky
2013
Louisville
Indiana
Gonzaga
Michigan
Duke
2014
Florida
Syracuse
Arizona
Michigan St
Kentucky
2015
Kentucky
2016
North Carolina
Oklahoma
Villanova
Kansas
Michigan St
Kentucky
2017
Baylor
Duke
Kansas
Gonzaga
Villanova
Kentucky

In [11]:
massey['SystemName'].unique()

array(['SEL', 'AP', 'BIH', 'DUN', 'ENT', 'GRN', 'IMS', 'MAS', 'MKV',
       'MOR', 'POM', 'RPI', 'SAG', 'SAU', 'SE', 'STR', 'USA', 'WLK',
       'WOB', 'BOB', 'DWH', 'ERD', 'ECK', 'BRZ', 'ARG', 'RTH', 'WOL',
       'HOL', 'COL', 'DOL', 'GC', 'GRS', 'HER', 'TSR', 'MIC', 'WTE', 'BD',
       'MGY', 'RAG', 'CNG', 'SIM', 'DES', 'JON', 'LYN', 'NOR', 'RM',
       'REI', 'ACU', 'BCM', 'CMV', 'SAP', 'DC', 'KLK', 'WIL', 'ROH',
       'RIS', 'REN', 'SCR', 'DOK', 'PIG', 'KPK', 'PKL', 'TRX', 'MB',
       'JCI', 'PH', 'LYD', 'KRA', 'RTR', 'UCS', 'ISR', 'CPR', 'BKM',
       'JEN', 'REW', 'STH', 'SPW', 'RSE', 'PGH', 'CPA', 'RTB', 'TOL',
       'HKB', 'BPI', 'TW', 'NOL', 'DC2', 'DCI', 'OMY', 'EBB', 'LMC', 'RT',
       'KEL', 'KMV', 'RTP', 'TMR', 'AUS', 'ROG', 'BP5', 'PTS', 'KOS',
       'PEQ', 'ADE', 'BNM', 'CJB', 'BUR', 'HAT', 'MSX', 'BBT', '7OT',
       'SFX', 'EBP', 'TBD', 'CRO', 'D1A', 'TPR', 'BLS', 'DII', 'KBM',
       'TRP', 'LOG', 'SP', 'STF', 'WMR', 'PPR', 'MPI', 'STS', 'UPS',
       'SPR', 'MvG', 'TRK', 'BWE', 'HAS', 'BOW', 'FSH', 'DAV', 'KPI',
       'FAS', 'MCL', 'CTL', 'HRN', 'RSL', 'SMN', 'DDB', 'INP', 'JRT',
       'ESR', 'FMG', 'PRR', 'SMS', 'HKS', 'MUZ', 'OCT', 'SGR', 'ZAM',
       'JNG', 'CRW', 'PMC', 'YAG'], dtype=object)

In [12]:
len(massey['SystemName'].unique())

159

In [124]:
compact_season = pd.read_csv('./DataFiles/RegularSeasonCompactResults.csv')
compact_season.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [14]:
seas2017 = compact_season[compact_season['Season'] == 2017]
seas2017.head()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
145289    2017      11     1104      70     1157      53    H      0
145290    2017      11     1107      87     1336      81    A      0
145291    2017      11     1112      65     1277      63    N      0
145292    2017      11     1113      88     1340      70    H      0
145293    2017      11     1116      92     1236      83    H      0

In [15]:
seas2017.reset_index(drop = True, inplace = True)
seas2017.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    2017      11     1104      70     1157      53    H      0
1    2017      11     1107      87     1336      81    A      0
2    2017      11     1112      65     1277      63    N      0
3    2017      11     1113      88     1340      70    H      0
4    2017      11     1116      92     1236      83    H      0

In [16]:
win_team = []
lose_team = []
for n in range(len(seas2017)):
    win_team.append(teams[teams['TeamID'] == seas2017['WTeamID'][n]]['TeamName'].values[0])
    lose_team.append(teams[teams['TeamID'] == seas2017['LTeamID'][n]]['TeamName'].values[0])
seas2017['WTeamName'] = win_team
seas2017['LTeamName'] = lose_team
seas2017.head()

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WTeamName,LTeamName
0,2017,11,1104,70,1157,53,H,0,Alabama,Coastal Car
1,2017,11,1107,87,1336,81,A,0,Albany NY,Penn St
2,2017,11,1112,65,1277,63,N,0,Arizona,Michigan St
3,2017,11,1113,88,1340,70,H,0,Arizona St,Portland St
4,2017,11,1116,92,1236,83,H,0,Arkansas,IPFW

In [17]:
seas2017['WTeamID'].value_counts()

1211    32
1437    31
1374    30
1112    30
1455    29
1246    29
1292    29
1153    29
1417    29
1436    28
1332    28
1388    28
1305    28
1242    28
1181    27
1284    27
1423    27
1137    26
1452    26
1229    26
1433    26
1314    26
1323    25
1458    25
1190    25
1116    25
1345    25
1103    25
1199    25
1308    25
        ..
1106     7
1164     7
1290     7
1111     7
1379     7
1178     7
1442     6
1263     6
1408     6
1331     6
1317     6
1115     6
1148     6
1179     6
1415     6
1198     5
1270     5
1197     5
1188     5
1364     5
1381     4
1226     4
1255     4
1440     4
1333     4
1152     3
1383     3
1342     3
1105     2
1299     1
Name: WTeamID, Length: 351, dtype: int64

In [18]:
seas2017['LTeamID'].value_counts()

1299    29
1383    27
1381    27
1333    27
1105    27
1226    26
1152    26
1290    25
1408    25
1342    25
1263    25
1255    24
1224    24
1146    24
1115    24
1454    24
1265    24
1440    24
1198    24
1281    24
1419    24
1179    23
1197    23
1441    23
1310    23
1180    23
1177    23
1241    23
1106    23
1319    23
        ..
1434     8
1103     8
1268     8
1173     7
1314     7
1124     7
1190     7
1345     7
1195     7
1229     6
1457     6
1284     6
1125     6
1343     6
1305     6
1308     5
1423     5
1332     5
1153     5
1436     5
1246     5
1417     4
1374     4
1292     4
1388     4
1112     4
1455     4
1242     4
1437     3
1211     1
Name: LTeamID, Length: 351, dtype: int64

In [99]:
def get_records(season):
    df_season = compact_season[compact_season['Season'] == season]
    wins = {}
    losses = {}
    teamlist = list(df_season['WTeamID'].unique())
    for d in df_season['LTeamID'].unique():
        teamlist.append(d)
    for team in set(teamlist):
        try:
            losses[team] = df_season['LTeamID'].value_counts()[team]
        except:
            losses[team] = 0
        try:
            wins[team] = df_season['WTeamID'].value_counts()[team]
        except:
            wins[team] = 0
    #need the try/excepts for undefeated, winless teams
    df_wins = pd.DataFrame.from_dict(wins, orient='index')
    df_wins.reset_index(inplace = True)
    df_wins.rename(columns={"index": "TeamID", 0 : "Wins"}, inplace = True)
    df_losses = pd.DataFrame.from_dict(losses, orient='index')
    df_losses.reset_index(inplace = True)
    df_losses.rename(columns={"index": "TeamID", 0 : "Losses"}, inplace = True)
    record = df_wins.merge(df_losses, on="TeamID")
    record['Percentage'] = round((record['Wins'] / (record['Wins'] + record['Losses'])), 3)
    return record

get_records(2017).sort_values("Percentage", ascending=False).head(10)

     TeamID  Wins  Losses  Percentage
104    1211    32       1       0.970
325    1437    31       3       0.912
10     1112    30       4       0.882
263    1374    30       4       0.882
183    1292    29       4       0.879
306    1417    29       4       0.879
341    1455    29       4       0.879
134    1242    28       4       0.875
277    1388    28       4       0.875
138    1246    29       5       0.853

In [20]:
print(massey[(massey['Season'] == 2017) & (massey['RankingDayNum'] == 133)]['SystemName'].value_counts().tail(10))
final_rank = massey[(massey['Season'] == 2017) & (massey['RankingDayNum'] == 133)]
final_rank.reset_index(drop = True, inplace = True)
incomplete_rankings = ['INP', 'JNG', 'USA', 'DES', 'AP']
drops = []
for n in final_rank.index:
    if final_rank.loc[n, 'SystemName'] in incomplete_rankings:
        drops.append(n)
final_rank.drop(drops, inplace = True)
final_rank['SystemName'].value_counts().tail()

PIG    351
BIH    351
RPI    351
REW    351
BUR    351
INP    346
JNG    109
AP      25
USA     25
DES     25
Name: SystemName, dtype: int64

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

TPR    351
ADE    351
FMG    351
MUZ    351
BUR    351
Name: SystemName, dtype: int64

In [21]:
final_rank['TeamID'].value_counts()

1455    70
1205    70
1428    70
1444    70
1460    70
1125    70
1141    70
1157    70
1173    70
1189    70
1221    70
1396    70
1237    70
1253    70
1269    70
1285    70
1301    70
1317    70
1333    70
1349    70
1412    70
1380    70
1381    70
1204    70
1443    70
1459    70
1108    70
1124    70
1140    70
1156    70
        ..
1307    70
1323    70
1339    70
1355    70
1371    70
1387    70
1403    70
1450    70
1418    70
1449    70
1242    70
1114    70
1130    70
1146    70
1162    70
1178    70
1194    70
1210    70
1226    70
1258    70
1402    70
1274    70
1290    70
1306    70
1322    70
1338    70
1354    70
1370    70
1386    70
1104    70
Name: TeamID, Length: 351, dtype: int64

In [22]:
ranking = {}
for team in final_rank['TeamID'].unique():
    ranking[team] = round(final_rank[final_rank['TeamID'] == team]['OrdinalRank'].mean(), 4)
#print(ranking)
df = get_records(seas2017)
df_rankings = pd.DataFrame.from_dict(ranking, orient='index')
df_rankings.reset_index(inplace = True)
df_rankings.rename(columns={"index": "TeamID", 0 : "MeanRank"}, inplace = True)
df_sort = df.merge(df_rankings, on="TeamID").sort_values('MeanRank')
df_sort['AbsMeanRank'] = list(range(1, len(df) + 1))
df_sort.head(25)

     TeamID  Wins  Losses  Percentage        TeamName  MeanRank  AbsMeanRank
103    1437    31       3       0.912       Villanova    1.8429            1
32     1211    32       1       0.970         Gonzaga    1.9571            2
41     1246    29       5       0.853        Kentucky    4.8143            3
60     1314    26       7       0.788  North Carolina    5.3857            4
183    1242    28       4       0.875          Kansas    6.1857            5
21     1181    27       8       0.771            Duke    8.6429            6
42     1257    24       8       0.750      Louisville    9.3714            7
109    1452    26       8       0.765   West Virginia   11.5714            8
28     1196    24       8       0.750         Florida   11.6857            9
2      1112    30       4       0.882         Arizona   12.0286           10
67     1332    28       5       0.848          Oregon   12.2000           11
98     1417    29       4       0.879            UCLA   12.4286           12
82     1374    30       4       0.882             SMU   13.2000           13
7      1124    24       7       0.774          Baylor   14.4857           14
104    1438    22      10       0.688        Virginia   15.1000           15
74     1345    25       7       0.781          Purdue   15.2714           16
110    1455    29       4       0.879      Wichita St   16.9143           17
116    1199    25       8       0.758      Florida St   16.9714           18
88     1388    28       4       0.875    St Mary's CA   19.0143           19
14     1153    29       5       0.853      Cincinnati   19.0571           20
38     1235    23      10       0.697         Iowa St   20.0000           21
123    1323    25       9       0.735      Notre Dame   20.7286           22
114    1139    23       8       0.742          Butler   21.8857           23
111    1458    25       9       0.735       Wisconsin   23.2000           24
48     1276    24      11       0.686        Michigan   23.2857           25

In [23]:
print(massey[(massey['Season'] == 2016) & (massey['RankingDayNum'] == 133)]['SystemName'].value_counts().tail(10))

BOB    351
BLS    351
DOL    351
7OT    351
CRO    351
WIL    350
D1A     50
USA     25
DES     25
AP      25
Name: SystemName, dtype: int64

In [24]:
#massey[(massey['Season'] == 2016) & (massey['RankingDayNum'] == massey['RankingDayNum'].max())]['SystemName'].value_counts().tail(10)

Series([], Name: SystemName, dtype: int64)

In [29]:
massey[(massey['Season'] == 2016) & (massey['RankingDayNum'] == massey['RankingDayNum'].max())]['SystemName'].value_counts()

RTH    351
BBT    351
SPR    351
WOL    351
POM    351
DAV    351
NOL    351
ARG    351
BWE    351
REW    351
RPI    351
BIH    351
PIG    351
EBP    351
FAS    351
STH    351
SPW    351
DUN    351
HKB    351
SEL    351
DII    351
MSX    351
PGH    351
HRN    351
COL    351
TRK    351
MOR    351
BUR    351
TPR    351
KPK    351
      ...
HAS    351
WLK    351
SAG    351
MAS    351
DC     351
WOB    351
KPI    351
CPR    351
TRP    351
DOK    351
KRA    351
ACU    351
RTP    351
CPA    351
MCL    351
SFX    351
DCI    351
FSH    351
SP     351
RTR    351
BOB    351
BLS    351
DOL    351
7OT    351
CRO    351
WIL    350
D1A     50
USA     25
DES     25
AP      25
Name: SystemName, Length: 62, dtype: int64

In [41]:
rank2016 = massey[(massey['Season'] == 2016) & (massey['RankingDayNum'] == massey['RankingDayNum'].max())]['SystemName'].value_counts()

In [48]:
rank2016[rank2016 != rank2016.max()]

WIL    350
D1A     50
USA     25
DES     25
AP      25
Name: SystemName, dtype: int64

In [8]:
def get_rankings(season):
    df_season = massey[(massey['Season'] == season)].copy()
    final_rank = df_season[df_season['RankingDayNum'] == df_season['RankingDayNum'].max()]
    final_rank.reset_index(drop = True, inplace = True)
    rankings = final_rank['SystemName'].value_counts()
    incomplete_rankings = rankings[rankings != rankings.max()]
    drops = []
    for n in final_rank.index:
        if final_rank.loc[n, 'SystemName'] in incomplete_rankings:
            drops.append(n)
    final_rank.drop(drops, inplace = True)
    rank = {}
    for team in final_rank['TeamID'].unique():
        rank[team] = round(final_rank[final_rank['TeamID'] == team]['OrdinalRank'].mean(), 4)
    df_rankings = pd.DataFrame.from_dict(rank, orient='index')
    df_rankings.reset_index(inplace = True)
    df_rankings.rename(columns={"index": "TeamID", 0 : "MeanRank"}, inplace = True)
    df_sort = df_rankings.sort_values('MeanRank')
    df_sort['AbsMeanRank'] = list(range(1, len(df_rankings) + 1))
    return df_sort.sort_values("TeamID")
get_rankings(2017)

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID  MeanRank  AbsMeanRank
0      1101  296.1571          302
1      1102  229.1714          226
2      1103   86.9000           84
3      1104   61.4571           60
4      1105  350.3286          351
5      1106  341.4000          343
6      1107  133.6286          131
7      1108  271.3571          270
8      1110  305.6000          309
9      1111  279.7000          281
10     1112   12.0286           10
11     1113  126.8857          123
12     1114  233.4000          229
13     1115  346.8429          348
14     1116   35.4857           30
15     1117  131.1429          129
16     1119  246.9429          249
17     1120   90.8571           88
18     1122  283.3714          287
19     1123  153.0286          153
20     1124   14.4857           14
21     1125   83.9429           81
22     1126  339.6571          340
23     1127  307.1857          311
24     1129   94.4143           92
25     1130  174.7286          179
26     1131  188.4857          190
27     1132  235.4571          232
28     1133  217.4000          218
29     1135  270.8857          269
..      ...       ...          ...
321    1433   41.7143           40
322    1434   86.8286           83
323    1435   42.3143           42
324    1436   56.6000           57
325    1437    1.8429            1
326    1438   15.1000           15
327    1439   40.6571           39
328    1440  325.6143          331
329    1441  309.9286          315
330    1442  302.6143          307
331    1443  226.1571          225
332    1444  164.8000          161
333    1447  242.0857          243
334    1448   39.1857           35
335    1449  184.8000          187
336    1450  172.2571          175
337    1451  174.0000          176
338    1452   11.5714            8
339    1453  174.1143          177
340    1454  261.6429          260
341    1455   16.9143           17
342    1456  138.8000          138
343    1457   93.0857           90
344    1458   23.2000           24
345    1459  167.0286          168
346    1460  148.5143          149
347    1461  146.7286          145
348    1462   41.8286           41
349    1463  138.5000          137
350    1464  272.8000          273

[351 rows x 3 columns]

In [72]:
def assemble_rankings(season):
    d1_teams = teams[teams['FirstD1Season'] <= season].copy()
    d1_teams = d1_teams[d1_teams['LastD1Season'] >= season]
    df = d1_teams.drop(['FirstD1Season', 'LastD1Season'], axis=1)
    record = get_records(season)
    ranking = get_rankings(season)
    df_wrecord = df.merge(record, on='TeamID')
    df_wranking = df_wrecord.merge(ranking, on='TeamID')
    return df_wranking
assemble_rankings(2017).sort_values('AbsMeanRank').head(25)

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID        TeamName  Wins  Losses  Percentage  MeanRank  AbsMeanRank
325    1437       Villanova    31       3       0.912    1.8429            1
104    1211         Gonzaga    32       1       0.970    1.9571            2
138    1246        Kentucky    29       5       0.853    4.8143            3
204    1314  North Carolina    26       7       0.788    5.3857            4
134    1242          Kansas    28       4       0.875    6.1857            5
74     1181            Duke    27       8       0.771    8.6429            6
149    1257      Louisville    24       8       0.750    9.3714            7
338    1452   West Virginia    26       8       0.765   11.5714            8
89     1196         Florida    24       8       0.750   11.6857            9
10     1112         Arizona    30       4       0.882   12.0286           10
221    1332          Oregon    28       5       0.848   12.2000           11
306    1417            UCLA    29       4       0.879   12.4286           12
263    1374             SMU    30       4       0.882   13.2000           13
20     1124          Baylor    24       7       0.774   14.4857           14
326    1438        Virginia    22      10       0.688   15.1000           15
234    1345          Purdue    25       7       0.781   15.2714           16
341    1455      Wichita St    29       4       0.879   16.9143           17
92     1199      Florida St    25       8       0.758   16.9714           18
277    1388    St Mary's CA    28       4       0.875   19.0143           19
46     1153      Cincinnati    29       5       0.853   19.0571           20
127    1235         Iowa St    23      10       0.697   20.0000           21
213    1323      Notre Dame    25       9       0.735   20.7286           22
33     1139          Butler    23       8       0.742   21.8857           23
344    1458       Wisconsin    25       9       0.735   23.2000           24
168    1276        Michigan    24      11       0.686   23.2857           25

In [73]:
assemble_rankings(2016).sort_values('AbsMeanRank').head(25)

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID        TeamName  Wins  Losses  Percentage  MeanRank  AbsMeanRank
134    1242          Kansas    29       4       0.879    1.3684            1
169    1277     Michigan St    29       5       0.853    3.9298            2
204    1314  North Carolina    28       6       0.824    4.0702            3
325    1437       Villanova    29       5       0.853    4.4386            4
326    1438        Virginia    26       7       0.788    4.5789            5
338    1452   West Virginia    26       8       0.765    7.8947            6
217    1328        Oklahoma    25       7       0.781    8.1404            7
221    1332          Oregon    27       6       0.818    9.6491            8
138    1246        Kentucky    26       8       0.765   10.5088            9
348    1462          Xavier    27       5       0.844   11.1053           10
234    1345          Purdue    26       8       0.765   12.1754           11
166    1274        Miami FL    25       7       0.781   12.3860           12
149    1257      Louisville    23       8       0.742   14.2281           13
10     1112         Arizona    25       8       0.758   16.7544           14
290    1401       Texas A&M    26       8       0.765   16.7895           15
123    1231         Indiana    25       7       0.781   16.8947           16
263    1374             SMU    25       5       0.833   18.2105           17
317    1428            Utah    25       8       0.758   18.6316           18
74     1181            Duke    23      10       0.697   19.0702           19
160    1268        Maryland    24       8       0.750   21.6491           20
127    1235         Iowa St    21      11       0.656   21.8947           21
37     1143      California    23      10       0.697   22.8947           22
260    1371      Seton Hall    25       8       0.758   23.3158           23
20     1124          Baylor    21      11       0.656   24.0702           24
126    1234            Iowa    21      10       0.677   25.6316           25

In [102]:
assemble_rankings(2015).sort_values('AbsMeanRank').head(25)
#Kentucky is undefeated, throws an error

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID        TeamName  Wins  Losses  Percentage  MeanRank  AbsMeanRank
138    1246        Kentucky    34       0       1.000    1.1207            1
344    1458       Wisconsin    31       3       0.912    3.6379            2
325    1437       Villanova    32       2       0.941    3.7241            3
10     1112         Arizona    31       3       0.912    4.2069            4
74     1181            Duke    29       4       0.879    4.6207            5
326    1438        Virginia    29       3       0.906    5.1724            6
104    1211         Gonzaga    31       2       0.939    6.9655            7
134    1242          Kansas    26       8       0.765    9.6724            8
213    1323      Notre Dame    29       5       0.853   10.2586            9
127    1235         Iowa St    25       8       0.758   11.3276           10
204    1314  North Carolina    24      11       0.686   11.7586           11
20     1124          Baylor    23       9       0.719   14.1034           12
217    1328        Oklahoma    22      10       0.688   14.4828           13
317    1428            Utah    23       8       0.742   15.1552           14
149    1257      Louisville    24       8       0.750   16.1379           15
341    1455      Wichita St    27       4       0.871   17.3966           16
210    1320   Northern Iowa    30       3       0.909   19.3448           17
169    1277     Michigan St    23      11       0.676   20.0517           18
160    1268        Maryland    27       6       0.818   20.5862           19
14     1116        Arkansas    26       8       0.765   22.4828           20
338    1452   West Virginia    23       9       0.719   22.7414           21
100    1207      Georgetown    21      10       0.677   23.2586           22
263    1374             SMU    26       6       0.812   23.5690           23
216    1326         Ohio St    23      10       0.697   24.0862           24
33     1139          Butler    22      10       0.688   24.5690           25

In [103]:
assemble_rankings(2014).sort_values('AbsMeanRank').head(25)

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID         TeamName  Wins  Losses  Percentage  MeanRank  AbsMeanRank
10     1112          Arizona    30       4       0.882    2.1455            1
89     1196          Florida    32       2       0.941    2.2182            2
325    1437        Villanova    28       4       0.875    5.8545            3
341    1455       Wichita St    33       0       1.000    6.3818            4
149    1257       Louisville    29       5       0.853    6.4000            5
134    1242           Kansas    24       9       0.727    6.7636            6
326    1438         Virginia    28       6       0.824    7.3818            7
344    1458        Wisconsin    26       7       0.788    9.0364            8
74     1181             Duke    26       8       0.765    9.8909            9
59     1166        Creighton    26       7       0.788   10.8545           10
169    1277      Michigan St    26       8       0.765   11.7273           11
168    1276         Michigan    25       8       0.758   12.0545           12
127    1235          Iowa St    26       7       0.788   12.9273           13
282    1393         Syracuse    27       5       0.844   13.9636           14
306    1417             UCLA    26       8       0.765   15.5636           15
250    1361     San Diego St    27       4       0.871   17.4727           16
216    1326          Ohio St    25       9       0.735   19.9273           17
46     1153       Cincinnati    27       6       0.818   21.3818           18
138    1246         Kentucky    24      10       0.706   21.4727           19
321    1433  VA Commonwealth    26       8       0.765   22.8182           20
104    1211          Gonzaga    27       6       0.818   22.9636           21
197    1307       New Mexico    27       6       0.818   23.2545           22
56     1163      Connecticut    26       8       0.765   23.2727           23
227    1338       Pittsburgh    25       9       0.735   23.6364           24
217    1328         Oklahoma    23       9       0.719   24.2545           25

In [2]:
detailed_season = pd.read_csv('./DataFiles/RegularSeasonDetailedResults.csv')
detailed_season.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [8]:
detailed_season.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [9]:
for col in detailed_season.columns:
    if 'W' in col:
        print("Winning Team:" + col)
    elif 'L' in col:
        print("Losing Team:" + col)
    else:
        pass

Winning Team:WTeamID
Winning Team:WScore
Losing Team:LTeamID
Losing Team:LScore
Winning Team:WLoc
Winning Team:WFGM
Winning Team:WFGA
Winning Team:WFGM3
Winning Team:WFGA3
Winning Team:WFTM
Winning Team:WFTA
Winning Team:WOR
Winning Team:WDR
Winning Team:WAst
Winning Team:WTO
Winning Team:WStl
Winning Team:WBlk
Winning Team:WPF
Losing Team:LFGM
Losing Team:LFGA
Losing Team:LFGM3
Losing Team:LFGA3
Losing Team:LFTM
Losing Team:LFTA
Losing Team:LOR
Losing Team:LDR
Losing Team:LAst
Losing Team:LTO
Losing Team:LStl
Losing Team:LBlk
Losing Team:LPF

In [11]:
#if team wins, pull win team data, set lose team data as 'against'
#if team loses, do vice versa
#aggregate and take the mean
#offensive and defensive
#how opponents did against their averages
teams[teams['TeamName'] == "Texas"]
#my alma mater, so sue me if I use it for EDA

     TeamID TeamName  FirstD1Season  LastD1Season
299    1400    Texas           1985          2018

In [13]:
seas2017 = detailed_season[detailed_season['Season'] == 2017]
seas2017.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
71241,2017,11,1104,70,1157,53,H,0,21,48,...,23,10,16,17,26,7,13,2,2,22
71242,2017,11,1107,87,1336,81,A,0,30,61,...,25,18,22,6,20,9,12,7,8,23
71243,2017,11,1112,65,1277,63,N,0,20,52,...,25,5,9,12,22,15,18,4,1,23
71244,2017,11,1113,88,1340,70,H,0,33,67,...,27,12,15,9,24,14,14,5,1,20
71245,2017,11,1116,92,1236,83,H,0,35,66,...,28,24,40,21,24,12,12,5,2,24

In [89]:
txseas2017 = pd.concat([seas2017[seas2017['WTeamID']  == 1400], seas2017[seas2017['LTeamID'] == 1400]])

In [90]:
txseas2017.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
71334,2017,11,1400,78,1230,73,H,0,27,58,...,23,19,26,12,27,9,11,7,2,28
71463,2017,14,1400,80,1419,59,H,0,30,60,...,34,9,11,17,26,11,9,3,1,16
71586,2017,17,1400,85,1186,52,H,0,28,62,...,21,5,6,8,23,6,16,3,3,23
72336,2017,32,1400,77,1104,68,H,0,25,53,...,26,10,18,7,20,12,12,3,6,24
72703,2017,40,1400,71,1253,65,H,0,23,53,...,27,6,7,15,26,12,12,4,3,19

In [91]:
txseas2017.drop('WLoc', axis=1, inplace=True)

In [59]:
statcol = []
oppcol = []
#against opponent offensive average
#against opponent defensive average
for c in txseas2017.columns:
    if 'W' in c:
        statcol.append(c.replace("W", ""))
for s in statcol:
    oppcol.append("Opp" + s)
df_games = pd.DataFrame(columns=statcol)
df_opp = pd.DataFrame(columns=oppcol)
gm = {}
oppgm = {}
for t in txseas2017.index:
    if txseas2017.loc[t, 'WTeamID'] == 1400:
        for c in statcol:
            gm[c] = txseas2017.loc[t, ("W" + c)]
            oppgm["Opp" + c] = txseas2017.loc[t, "L" + c]
    else:
        for c in statcol:
            gm[c] = txseas2017.loc[t, ("L" + c)]
            oppgm["Opp" + c] = txseas2017.loc[t, "W" + c]
    df_games.loc[t] = gm
    df_opp.loc[t] = oppgm
df_games.join(df_opp)
#how to get all the team's stats for averaging
#how to get all the opposing stats for averaging

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,OppFGA3,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF
71334,1400,78,27,58,3,18,21,30,4,38,...,23,19,26,12,27,9,11,7,2,28
71463,1400,80,30,60,7,22,13,21,9,32,...,34,9,11,17,26,11,9,3,1,16
71586,1400,85,28,62,11,29,18,25,12,32,...,21,5,6,8,23,6,16,3,3,23
72336,1400,77,25,53,5,14,22,30,12,23,...,26,10,18,7,20,12,12,3,6,24
72703,1400,71,23,53,9,25,16,22,10,24,...,27,6,7,15,26,12,12,4,3,19
73084,1400,96,36,67,12,29,12,12,10,24,...,14,13,19,8,20,10,18,6,3,13
73554,1400,82,25,57,7,19,25,33,10,27,...,25,19,23,9,23,12,11,4,2,28
74473,1400,84,28,65,10,23,18,30,14,29,...,16,24,33,8,25,3,12,6,3,24
74886,1400,62,24,52,6,17,8,17,8,27,...,21,10,19,14,24,8,13,4,2,17
75168,1400,67,24,55,3,14,16,27,12,27,...,25,10,13,5,26,12,10,7,4,20
76489,1400,61,20,50,5,23,16,20,8,28,...,19,5,8,11,23,11,9,4,1,19
71802,1400,58,19,51,7,21,13,27,10,21,...,24,13,16,10,30,14,11,5,4,24
71834,1400,54,21,57,3,17,9,12,12,20,...,14,4,5,17,24,7,13,7,5,15
72219,1400,61,24,61,3,23,10,18,14,21,...,26,11,18,14,27,12,16,9,3,17
72518,1400,50,20,52,5,16,5,6,7,24,...,19,7,11,5,23,12,12,8,3,9
72836,1400,74,25,62,5,17,19,32,17,28,...,16,29,31,13,28,10,10,6,8,24
73200,1400,58,21,58,2,18,14,24,11,23,...,17,8,13,22,31,10,21,8,2,23
73322,1400,62,25,54,5,18,7,12,10,26,...,20,26,33,8,21,14,12,12,4,16
73682,1400,70,27,51,8,16,8,16,7,28,...,24,5,12,9,20,19,11,12,2,11
73879,1400,61,24,56,4,14,9,11,5,27,...,24,6,10,7,29,16,17,7,7,15
74106,1400,72,23,48,8,22,18,23,6,22,...,18,22,32,10,19,6,15,8,3,21
74160,1400,64,22,53,2,19,18,22,7,22,...,17,12,18,17,24,13,12,5,4,22
74348,1400,67,25,59,6,16,11,17,11,22,...,23,12,17,12,28,16,16,14,2,16
74670,1400,57,22,48,6,20,7,13,5,25,...,12,17,22,7,23,11,12,7,2,18
75081,1400,63,27,58,2,13,7,11,11,18,...,21,10,16,13,23,20,10,8,4,12
75388,1400,71,29,63,4,23,9,18,14,24,...,19,6,8,12,26,18,11,4,2,16
75504,1400,66,28,60,3,11,7,16,12,25,...,21,22,31,15,28,8,9,9,4,21
75669,1400,61,21,45,8,14,11,16,6,15,...,15,10,12,4,19,10,13,6,1,17
75808,1400,62,22,49,3,13,15,20,7,24,...,24,11,13,10,22,20,12,7,5,18
76014,1400,67,26,55,3,16,12,17,9,21,...,19,17,22,10,24,14,11,6,1,14
76205,1400,57,23,54,5,22,6,12,5,23,...,12,15,19,6,27,13,8,2,1,12
76304,1400,64,26,64,6,21,6,8,13,15,...,20,12,18,19,25,13,15,6,1,15
76556,1400,53,20,57,5,17,8,19,15,24,...,13,10,20,13,29,15,13,6,7,19

In [61]:
teams[teams['TeamName'] == 'Oklahoma']

     TeamID  TeamName  FirstD1Season  LastD1Season
227    1328  Oklahoma           1985          2018

In [5]:
def get_team_stat(teamID, year):
    df_season = detailed_season[detailed_season['Season'] == year]
    df_team = pd.concat([df_season[df_season['WTeamID']  == teamID], df_season[df_season['LTeamID'] == teamID]])
    df_team.drop('WLoc', axis=1, inplace = True)
    statcol = []
    oppcol = []
    for c in df_team.columns:
        if 'W' in c:
            statcol.append(c.replace("W", ""))
    for s in statcol:
        oppcol.append("Opp" + s)
    df_games = pd.DataFrame(columns=statcol)
    df_opp = pd.DataFrame(columns=oppcol)
    gm = {}
    oppgm = {}
    for t in df_team.index:
        if df_team.loc[t, 'WTeamID'] == teamID:
            for c in statcol:
                    gm[c] = df_team.loc[t, ("W" + c)]
                    oppgm["Opp" + c] = df_team.loc[t, "L" + c]
        else:
            for c in statcol:
                    gm[c] = df_team.loc[t, ("L" + c)]
                    oppgm["Opp" + c] = df_team.loc[t, "W" + c]
        df_games.loc[t] = gm
        df_opp.loc[t] = oppgm
    return df_games.join(df_opp)

In [6]:
get_team_stat(1400, 2017)

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,OppFGA3,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF
71334,1400,78,27,58,3,18,21,30,4,38,...,23,19,26,12,27,9,11,7,2,28
71463,1400,80,30,60,7,22,13,21,9,32,...,34,9,11,17,26,11,9,3,1,16
71586,1400,85,28,62,11,29,18,25,12,32,...,21,5,6,8,23,6,16,3,3,23
72336,1400,77,25,53,5,14,22,30,12,23,...,26,10,18,7,20,12,12,3,6,24
72703,1400,71,23,53,9,25,16,22,10,24,...,27,6,7,15,26,12,12,4,3,19
73084,1400,96,36,67,12,29,12,12,10,24,...,14,13,19,8,20,10,18,6,3,13
73554,1400,82,25,57,7,19,25,33,10,27,...,25,19,23,9,23,12,11,4,2,28
74473,1400,84,28,65,10,23,18,30,14,29,...,16,24,33,8,25,3,12,6,3,24
74886,1400,62,24,52,6,17,8,17,8,27,...,21,10,19,14,24,8,13,4,2,17
75168,1400,67,24,55,3,14,16,27,12,27,...,25,10,13,5,26,12,10,7,4,20
76489,1400,61,20,50,5,23,16,20,8,28,...,19,5,8,11,23,11,9,4,1,19
71802,1400,58,19,51,7,21,13,27,10,21,...,24,13,16,10,30,14,11,5,4,24
71834,1400,54,21,57,3,17,9,12,12,20,...,14,4,5,17,24,7,13,7,5,15
72219,1400,61,24,61,3,23,10,18,14,21,...,26,11,18,14,27,12,16,9,3,17
72518,1400,50,20,52,5,16,5,6,7,24,...,19,7,11,5,23,12,12,8,3,9
72836,1400,74,25,62,5,17,19,32,17,28,...,16,29,31,13,28,10,10,6,8,24
73200,1400,58,21,58,2,18,14,24,11,23,...,17,8,13,22,31,10,21,8,2,23
73322,1400,62,25,54,5,18,7,12,10,26,...,20,26,33,8,21,14,12,12,4,16
73682,1400,70,27,51,8,16,8,16,7,28,...,24,5,12,9,20,19,11,12,2,11
73879,1400,61,24,56,4,14,9,11,5,27,...,24,6,10,7,29,16,17,7,7,15
74106,1400,72,23,48,8,22,18,23,6,22,...,18,22,32,10,19,6,15,8,3,21
74160,1400,64,22,53,2,19,18,22,7,22,...,17,12,18,17,24,13,12,5,4,22
74348,1400,67,25,59,6,16,11,17,11,22,...,23,12,17,12,28,16,16,14,2,16
74670,1400,57,22,48,6,20,7,13,5,25,...,12,17,22,7,23,11,12,7,2,18
75081,1400,63,27,58,2,13,7,11,11,18,...,21,10,16,13,23,20,10,8,4,12
75388,1400,71,29,63,4,23,9,18,14,24,...,19,6,8,12,26,18,11,4,2,16
75504,1400,66,28,60,3,11,7,16,12,25,...,21,22,31,15,28,8,9,9,4,21
75669,1400,61,21,45,8,14,11,16,6,15,...,15,10,12,4,19,10,13,6,1,17
75808,1400,62,22,49,3,13,15,20,7,24,...,24,11,13,10,22,20,12,7,5,18
76014,1400,67,26,55,3,16,12,17,9,21,...,19,17,22,10,24,14,11,6,1,14
76205,1400,57,23,54,5,22,6,12,5,23,...,12,15,19,6,27,13,8,2,1,12
76304,1400,64,26,64,6,21,6,8,13,15,...,20,12,18,19,25,13,15,6,1,15
76556,1400,53,20,57,5,17,8,19,15,24,...,13,10,20,13,29,15,13,6,7,19

In [7]:
def get_stat_avg(df_teamseas, teamID):
    df_teamseas = df_teamseas.drop(["TeamID", "OppTeamID"], axis = 1)
    team_df = pd.DataFrame(columns=df_teamseas.columns)
    avgs = {}
    for col in df_teamseas.columns:
        avgs[col] = round(df_teamseas[col].mean(), 3)
    team_df.loc[teamID] = avgs
    return team_df

In [8]:
get_stat_avg(get_team_stat(1400, 2017), 1400)

,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,...,OppFGA3,OppFTM,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF
1400,67.121,24.545,55.97,5.485,18.788,12.545,19.303,9.788,24.515,11.424,...,20.273,12.576,17.576,11.121,24.636,12.03,12.515,6.455,3.182,18.364

In [12]:
def get_opp_avg(oppteamID, baseteamID, year):
    df_oppteam = get_team_stat(oppteamID, year)
    dropgm = []
    for n in df_oppteam.index:
        if df_oppteam.loc[n, 'OppTeamID'] == baseteamID:
            dropgm.append(n)
    df_oppteam.drop(dropgm, inplace=True)
    df_oppavg = get_stat_avg(df_oppteam, oppteamID)
    statnames = []
    for col in df_oppavg.columns:
        if 'Opp' not in col:
            statnames.append("OppAvg" + col)
        else:
            statnames.append(col.replace("Opp","OppDAvg"))
    df_oppavg.columns = statnames
    return df_oppavg

In [13]:
get_opp_avg(1328, 1400, 2017)

,OppAvgScore,OppAvgFGM,OppAvgFGA,OppAvgFGM3,OppAvgFGA3,OppAvgFTM,OppAvgFTA,OppAvgOR,OppAvgDR,OppAvgAst,...,OppDAvgFGA3,OppDAvgFTM,OppDAvgFTA,OppDAvgOR,OppDAvgDR,OppDAvgAst,OppDAvgTO,OppDAvgStl,OppDAvgBlk,OppDAvgPF
1328,72.724,25.483,60.103,6.31,18.0,15.448,21.414,11.655,26.172,10.966,...,23.31,13.897,20.034,10.966,26.138,13.483,13.379,7.069,4.586,18.31

In [20]:
def against_opp_avg(teamID, year):
    team_df = get_team_stat(teamID, year)
    aoa_col = []
    for col in team_df.columns:
            if 'TeamID' not in col:
                if 'Opp'not in col:
                    aoa_col.append("AgstOppDefAvg" + col)
                else:
                    aoa_col.append("AgstOppOffAvg" + col)
    aoa_df = pd.DataFrame(columns = aoa_col)
    for i in team_df.index:
        oppteam = team_df.loc[i, 'OppTeamID']
        agst_opp_avg = {}
        oppteam_df = get_opp_avg(oppteam, teamID, year)
        for col in team_df.columns:
            if 'TeamID' not in col:
                if 'Opp' not in col:
                    agst_opp_avg["AgstOppDefAvg" + col] = round(team_df.loc[i, col] - oppteam_df.loc[oppteam, "OppDAvg" + col], 3)
                else:
                    agst_opp_avg["AgstOppOffAvg" + col] = round(team_df.loc[i, col] - oppteam_df.loc[oppteam, "OppAvg" + col.replace("Opp", "")], 3)
        aoa_df.loc[i] = agst_opp_avg
    return aoa_df

In [21]:
against_opp_avg(1400, 2017)

,AgstOppDefAvgScore,AgstOppDefAvgFGM,AgstOppDefAvgFGA,AgstOppDefAvgFGM3,AgstOppDefAvgFGA3,AgstOppDefAvgFTM,AgstOppDefAvgFTA,AgstOppDefAvgOR,AgstOppDefAvgDR,AgstOppDefAvgAst,...,AgstOppOffAvgOppFGA3,AgstOppOffAvgOppFTM,AgstOppOffAvgOppFTA,AgstOppOffAvgOppOR,AgstOppOffAvgOppDR,AgstOppOffAvgOppAst,AgstOppOffAvgOppTO,AgstOppOffAvgOppStl,AgstOppOffAvgOppBlk,AgstOppOffAvgOppPF
71334,-3.333,-2.167,-4.000,-2.542,1.917,3.542,6.208,-8.000,10.792,-3.917,...,2.000,2.042,1.583,4.292,2.833,-3.375,-2.833,1.708,-2.417,7.750
71463,9.500,4.933,3.033,-0.233,1.700,-0.133,1.667,-1.300,6.900,-0.167,...,13.000,-1.167,-4.200,6.633,1.467,-2.167,-4.233,-1.667,-1.267,-1.633
71586,8.567,1.733,2.167,3.067,7.567,2.033,2.700,1.867,8.167,3.700,...,-0.333,-11.067,-15.000,-1.267,-3.633,-6.233,3.900,-1.567,-1.833,2.767
72336,12.875,3.281,-1.469,-1.156,-4.594,7.469,8.219,2.219,-0.812,0.469,...,5.375,-4.688,-4.531,-5.469,-7.094,0.594,-1.938,-3.094,1.844,4.406
72703,-8.290,-5.065,-6.839,1.516,5.290,0.323,-0.452,-1.645,-1.097,-1.032,...,8.935,-9.968,-15.032,3.484,2.516,-1.065,-2.516,-1.484,0.452,-1.194
73084,26.516,11.000,8.710,4.581,7.097,-0.065,-5.387,-0.161,1.387,8.581,...,-3.677,-2.097,-1.645,-1.742,-6.194,-4.968,4.516,1.161,-1.935,-3.129
73554,4.103,-1.172,1.069,0.069,-0.172,6.379,7.379,-0.897,4.931,-2.483,...,2.621,0.172,-0.966,-4.862,0.000,-2.655,-2.448,-4.000,-1.069,5.724
74473,9.897,2.138,4.793,1.517,-0.310,4.103,9.966,3.034,2.862,-0.483,...,-2.000,8.552,11.586,-3.655,-1.172,-7.966,-2.034,-0.828,-1.828,4.828
74886,-5.793,1.103,-1.000,-2.241,-5.621,-5.759,-2.069,-0.276,5.759,-0.621,...,2.966,-4.966,-1.241,4.759,0.483,-6.310,1.828,-1.483,-1.310,-0.690
75168,-5.226,-2.613,-7.677,-4.839,-8.548,4.839,11.387,-0.226,0.581,-2.581,...,0.194,-2.355,-4.645,-4.484,0.226,-3.839,-0.129,-0.806,0.387,4.000
76489,-6.793,-2.897,-3.000,-3.241,0.379,2.241,0.931,-0.276,6.759,-6.621,...,0.966,-9.966,-12.241,1.759,-0.517,-3.310,-2.172,-1.483,-2.310,1.310
71802,-7.273,-3.758,-5.364,0.545,1.727,-0.303,7.273,-1.303,-3.182,-5.182,...,3.303,-0.424,-1.909,-0.788,4.697,-1.303,0.485,-0.030,-1.030,5.121
71834,-18.613,-4.258,-1.387,-5.129,-5.129,-4.968,-7.516,1.935,-4.452,-8.710,...,-6.935,-12.194,-18.161,5.258,-1.677,-7.097,0.839,2.032,0.677,-3.613
72219,-9.033,-0.133,3.233,-5.333,-2.833,-3.433,-2.567,3.233,-3.167,-1.033,...,1.133,-3.600,-3.067,2.033,0.333,-3.200,2.733,2.033,0.933,-1.967
72518,-16.000,-4.971,-1.735,-0.853,0.588,-5.206,-9.029,-2.176,1.824,-0.294,...,-5.735,-6.029,-5.765,-2.588,1.147,-1.853,2.647,2.118,0.235,-6.294
72836,0.000,-0.030,2.455,-2.485,-5.455,2.545,8.818,4.576,4.545,0.424,...,-2.000,11.545,7.879,1.727,3.152,-4.212,-1.788,-1.576,3.364,3.515
73200,-15.273,-4.758,-1.182,-5.545,-3.182,-0.212,3.879,0.212,-0.758,-6.303,...,-5.333,-7.212,-8.152,7.576,5.879,-2.333,8.242,1.758,-1.727,3.848
73322,-5.290,1.484,-1.677,-2.194,-0.839,-6.065,-6.065,-1.387,3.161,-1.323,...,0.194,11.065,11.097,-1.742,-2.452,-1.161,-1.097,4.258,0.129,-1.806
73682,-2.226,0.387,-11.677,0.161,-6.548,-3.161,0.387,-5.226,1.581,-1.581,...,-0.806,-7.355,-5.645,-0.484,-5.774,3.161,0.871,4.194,-1.613,-5.000
73879,-10.032,-1.548,-1.452,-3.032,-5.258,-3.903,-7.419,-5.452,4.645,-4.742,...,4.097,-7.323,-9.258,-4.323,4.968,-0.516,4.032,0.839,2.387,-2.742
74106,5.290,0.613,-4.806,1.194,2.710,2.871,0.645,-5.161,-1.710,-0.194,...,-3.161,5.387,7.548,-4.645,-3.935,-11.032,2.839,-2.710,-1.645,0.323
74160,1.034,-0.207,-2.897,-4.207,-0.241,5.655,4.828,-3.552,2.931,-2.069,...,-1.724,-1.552,-0.966,4.690,-0.966,-2.655,-1.414,-0.103,-1.034,4.379
74348,-5.733,-0.800,-2.800,-1.533,-4.867,-2.600,-2.067,-0.833,-1.200,-4.167,...,1.433,-2.900,-5.533,-0.100,1.133,-0.367,2.933,7.267,-2.900,-2.333
74670,-13.516,-2.419,-11.935,-1.097,-1.387,-7.581,-7.774,-6.000,1.032,-1.645,...,-3.710,-0.516,-1.161,-2.903,-4.548,-1.645,-1.290,1.677,-1.806,-1.032
75081,-8.032,1.452,0.548,-5.032,-6.258,-5.903,-7.419,0.548,-4.355,2.258,...,1.097,-3.323,-3.258,1.677,-1.032,3.484,-2.968,1.839,-0.613,-5.742
75388,-6.897,2.828,7.069,-2.931,3.828,-9.621,-7.621,3.103,1.931,0.517,...,-3.379,-12.828,-15.966,-1.862,3.000,3.345,-2.448,-4.000,-1.069,-6.276
75504,-8.103,2.138,-0.207,-5.483,-12.310,-6.897,-4.034,1.034,-1.138,-0.483,...,3.000,6.552,9.586,3.345,1.828,-2.966,-5.034,2.172,-0.828,1.828
75669,-6.290,-2.516,-10.677,0.806,-4.839,-2.065,-2.065,-5.387,-7.839,-3.323,...,-4.806,-4.935,-9.903,-5.742,-4.452,-5.161,-0.097,-1.742,-2.871,-0.806
75808,-4.710,-0.387,-3.806,-3.806,-6.290,-0.129,-2.355,-4.161,0.290,-3.194,...,2.839,-5.613,-11.452,-4.645,-0.935,2.968,-0.161,-3.710,0.355,-2.677
76014,-5.733,0.200,-6.800,-4.533,-4.867,-1.600,-2.067,-2.833,-2.200,-5.167,...,-2.567,2.100,-0.533,-2.100,-2.867,-2.367,-2.067,-0.733,-3.900,-4.333
76205,-10.793,0.103,1.000,-3.241,-0.621,-7.759,-7.069,-3.276,1.759,5.379,...,-6.034,0.034,-1.241,-3.241,3.483,-1.310,-3.172,-3.483,-2.310,-5.690
76304,1.034,3.793,8.103,-0.207,1.759,-6.345,-9.172,2.448,-4.069,-0.069,...,1.276,-1.552,-0.966,6.690,0.034,-2.655,1.586,0.897,-4.034,-2.621
76556,-13.710,-2.387,4.194,-1.806,-2.290,-7.129,-3.355,3.839,0.290,-1.194,...,-8.161,-6.613,-4.452,-1.645,6.065,-2.032,0.839,-4.710,2.355,-1.677

In [32]:
def get_stats(teamID, year):
    df_team = get_team_stat(teamID, year)
    df_aoa = against_opp_avg(teamID, year)
    return get_stat_avg(df_team.join(df_aoa), teamID).reset_index().rename(columns={"index": "TeamID"})

In [33]:
get_stats(1400, 2017)

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,AgstOppOffAvgOppFGA3,AgstOppOffAvgOppFTM,AgstOppOffAvgOppFTA,AgstOppOffAvgOppOR,AgstOppOffAvgOppDR,AgstOppOffAvgOppAst,AgstOppOffAvgOppTO,AgstOppOffAvgOppStl,AgstOppOffAvgOppBlk,AgstOppOffAvgOppPF
0,1400,67.121,24.545,55.97,5.485,18.788,12.545,19.303,9.788,24.515,...,-0.18,-2.509,-3.564,-0.132,-0.121,-2.491,-0.047,-0.159,-0.855,-0.347

In [125]:
def get_teams(year):
    d1_teams = teams[teams['FirstD1Season'] <= year].copy()
    d1_teams = d1_teams[d1_teams['LastD1Season'] >= year]
    return d1_teams.drop(['FirstD1Season', 'LastD1Season'], axis=1)

In [38]:
get_teams(2017)

     TeamID         TeamName
0      1101      Abilene Chr
1      1102        Air Force
2      1103            Akron
3      1104          Alabama
4      1105      Alabama A&M
5      1106       Alabama St
6      1107        Albany NY
7      1108        Alcorn St
9      1110    American Univ
10     1111   Appalachian St
11     1112          Arizona
12     1113       Arizona St
13     1114  Ark Little Rock
14     1115   Ark Pine Bluff
15     1116         Arkansas
16     1117      Arkansas St
18     1119             Army
19     1120           Auburn
21     1122      Austin Peay
22     1123          Ball St
23     1124           Baylor
24     1125          Belmont
25     1126  Bethune-Cookman
26     1127       Binghamton
28     1129         Boise St
29     1130   Boston College
30     1131      Boston Univ
31     1132    Bowling Green
32     1133          Bradley
34     1135            Brown
..      ...              ...
332    1433  VA Commonwealth
333    1434       Valparaiso
334    1435       Vanderbilt
335    1436          Vermont
336    1437        Villanova
337    1438         Virginia
338    1439    Virginia Tech
339    1440              VMI
340    1441       W Carolina
341    1442       W Illinois
342    1443              WKU
343    1444       W Michigan
346    1447           Wagner
347    1448      Wake Forest
348    1449       Washington
349    1450    Washington St
350    1451         Weber St
351    1452    West Virginia
352    1453     WI Green Bay
353    1454     WI Milwaukee
354    1455       Wichita St
355    1456   William & Mary
356    1457         Winthrop
357    1458        Wisconsin
358    1459          Wofford
359    1460        Wright St
360    1461          Wyoming
361    1462           Xavier
362    1463             Yale
363    1464    Youngstown St

[351 rows x 2 columns]

In [110]:
def get_season_stats(year):
    df_season = detailed_season[detailed_season['Season'] == year]
    allteams = get_teams(year).reset_index(drop = True)
    df_stats = get_stats(allteams.loc[0, 'TeamID'], year)

In [111]:
get_season_stats(2017)

350 teams left to compile
325 teams left to compile
300 teams left to compile
275 teams left to compile
250 teams left to compile
225 teams left to compile
200 teams left to compile
175 teams left to compile
150 teams left to compile
125 teams left to compile
100 teams left to compile
75 teams left to compile
50 teams left to compile
25 teams left to compile

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,AgstOppOffAvgOppFGA3,AgstOppOffAvgOppFTM,AgstOppOffAvgOppFTA,AgstOppOffAvgOppOR,AgstOppOffAvgOppDR,AgstOppOffAvgOppAst,AgstOppOffAvgOppTO,AgstOppOffAvgOppStl,AgstOppOffAvgOppBlk,AgstOppOffAvgOppPF
0,1101,67.880,24.440,53.320,7.080,19.080,11.920,18.560,7.560,22.880,...,0.519,0.705,2.201,0.094,0.821,0.731,0.829,-0.317,-0.126,-2.653
1,1102,71.548,24.226,56.613,7.935,21.871,15.161,21.161,9.452,25.258,...,5.291,-2.092,-3.365,-1.823,0.083,2.755,-0.524,0.581,-0.024,1.518
2,1103,76.667,26.273,56.303,10.091,27.303,14.030,20.697,9.818,24.576,...,-2.800,-1.146,-1.741,-1.278,-2.264,-1.898,-1.823,-0.351,-1.438,-0.635
3,1104,68.667,23.758,56.061,6.606,20.788,14.545,22.394,12.303,26.879,...,-2.769,-0.636,0.087,-1.011,-1.966,-3.783,0.732,0.064,-0.886,0.578
4,1105,61.862,21.724,53.966,4.310,15.759,14.103,21.172,10.310,21.862,...,0.381,-0.667,-0.833,1.194,0.950,3.013,-4.473,0.574,0.870,-1.340
5,1106,65.567,23.100,59.333,6.367,21.633,13.000,20.500,13.900,24.500,...,-0.903,2.327,3.729,0.251,2.680,0.715,-0.988,0.836,-0.082,-0.829
6,1107,71.030,25.697,54.970,5.394,14.636,14.242,18.667,10.636,24.455,...,1.386,-1.827,-2.675,-2.117,-3.506,-0.534,-1.116,-0.279,1.070,0.037
7,1108,67.655,24.345,57.621,6.552,20.483,12.414,18.897,11.793,25.897,...,-0.212,0.506,1.557,0.619,1.485,1.901,-0.744,0.510,-0.478,-2.231
8,1110,61.500,23.067,51.400,5.600,17.633,9.767,15.800,6.800,22.133,...,-6.570,1.964,2.414,-1.060,-0.083,-0.713,-0.523,0.364,-0.205,-1.791
9,1111,70.464,23.893,58.821,7.964,24.393,14.714,21.786,11.214,25.393,...,-4.995,3.606,5.278,-1.057,2.749,0.597,-0.892,0.172,0.379,1.247
10,1112,76.265,26.206,55.088,6.735,16.941,17.118,22.588,10.294,26.471,...,0.128,-2.660,-3.536,-0.922,-5.587,-2.019,-0.681,-1.337,-1.074,1.683
11,1113,78.576,26.909,62.030,9.939,27.152,14.818,19.788,9.212,23.424,...,4.443,-1.315,-1.921,0.897,3.199,4.623,0.794,-0.913,0.052,0.267
12,1114,66.367,23.600,54.433,6.200,18.333,12.967,17.600,9.500,23.167,...,-2.196,0.413,-0.390,-2.213,-1.102,-0.255,-0.072,-0.453,-0.357,-3.299
13,1115,60.667,21.367,53.567,6.533,18.967,11.400,17.567,10.467,20.600,...,0.050,6.154,8.468,-0.026,0.614,1.473,2.900,3.698,0.094,-3.294
14,1116,79.794,27.735,60.176,6.529,17.941,17.794,23.353,11.324,24.941,...,1.108,1.145,1.697,1.555,-1.936,-0.563,-0.030,-1.317,-0.740,-0.072
15,1117,72.452,25.484,55.645,6.806,18.032,14.677,23.097,10.806,25.226,...,-2.525,1.534,2.474,-1.201,-0.966,-0.074,-0.370,-0.494,0.728,1.513
16,1119,72.032,26.097,59.323,8.903,25.355,10.935,16.581,9.581,27.581,...,-0.272,0.573,1.010,-0.471,2.884,0.621,-0.858,0.693,0.901,-1.663
17,1120,80.406,26.906,61.531,9.031,24.656,17.562,26.125,11.531,25.062,...,3.332,2.212,2.637,1.560,0.712,0.437,1.929,0.280,-0.915,3.921
18,1122,76.500,26.143,57.000,7.464,21.214,16.750,23.357,8.214,22.286,...,2.422,-1.093,-1.920,1.899,1.020,2.183,-0.581,-0.365,-0.352,1.090
19,1123,78.281,27.000,58.719,9.031,24.031,15.250,21.094,9.781,27.688,...,-0.171,1.509,1.292,0.232,-0.296,-0.487,-0.468,1.645,0.099,-0.070
20,1124,71.613,25.774,55.226,6.613,18.710,13.452,18.903,12.677,24.935,...,-0.992,-2.788,-4.474,-0.813,-6.069,-1.322,-1.827,-1.582,-0.427,-0.460
21,1125,76.704,26.704,56.481,10.000,29.704,13.296,17.222,8.111,26.407,...,-2.420,-0.541,-1.762,-1.667,-0.780,-2.410,-1.949,-0.304,-0.284,-1.793
22,1126,70.400,25.800,62.667,7.100,22.000,11.700,17.700,12.367,22.833,...,-0.168,1.899,3.238,2.044,3.209,4.300,0.418,-0.239,0.769,-2.865
23,1127,65.103,23.034,54.690,7.345,21.345,11.690,16.862,8.069,24.414,...,0.315,-1.006,-0.806,-0.440,1.831,1.092,-1.628,0.234,0.323,-1.937
24,1129,75.517,25.345,56.310,8.138,22.862,16.690,23.276,9.483,25.759,...,-3.440,2.481,2.598,-0.607,-1.119,-1.595,-0.917,-0.160,1.039,1.540
25,1130,72.500,26.344,58.750,8.000,21.375,11.812,17.375,9.125,25.781,...,-1.049,2.479,2.292,-2.111,1.508,1.467,0.093,1.512,-0.092,-1.586
26,1131,72.516,25.323,57.677,8.452,23.968,13.419,19.290,10.032,25.355,...,2.637,1.482,2.415,1.007,1.518,0.470,1.220,0.766,0.421,-0.664
27,1132,73.194,25.935,61.129,6.806,19.968,14.516,21.903,11.161,24.548,...,-0.518,-0.688,-1.839,-1.287,2.351,-0.153,1.535,0.367,0.706,1.027
28,1133,65.406,22.031,52.156,6.500,18.406,14.844,21.906,9.062,26.156,...,0.665,2.178,3.166,0.930,-0.306,0.418,0.423,1.737,0.052,1.338
29,1135,74.857,24.179,55.393,7.821,22.000,18.679,24.643,9.286,21.571,...,-1.407,2.541,3.393,-1.219,0.288,2.018,2.504,1.070,1.206,3.759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,1433,74.676,26.941,58.382,5.794,17.324,15.000,21.206,11.029,25.618,...,-3.657,0.914,1.658,-0.106,-1.265,-3.379,2.254,-0.686,0.232,1.131
322,1434,74.806,25.677,57.516,6.742,20.129,16.710,21.452,10.484,27.548,...,0.307,-1.372,-1.695,-0.616,-2.104,-0.673,-0.955,-0.026,-0.377,0.334
323,1435,71.265,23.353,54.147,9.912,26.324,14.647,18.882,8.206,26.441,...,-1.184,-3.308,-4.412,-1.164,-0.945,-2.441,-1.945,-1.126,-1.248,-2.461
324,1436,73.394,26.939,54.242,6.273,17.091,13.242,18.909,9.182,24.424,...,-4.944,-3.833,-5.175,-1.092,-3.575,-2.723,0.258,-0.210,-0.020,0.113
325,1437,77.676,26.853,54.029,8.824,23.824,15.147,19.088,8.559,24.794,...,2.019,-5.881,-8.297,-0.387,-5.046,-0.459,0.763,-1.124,-1.653,-0.036
326,1438,66.594,24.906,53.656,7.000,17.812,9.781,13.812,8.812,24.125,...,-1.686,-3.426,-4.650,-3.359,-3.517,-4.839,0.530,-1.386,-1.143,-3.090
327,1439,79.250,27.000,55.125,8.844,21.969,16.406,22.344,7.312,25.219,...,1.192,-2.757,-3.731,0.143,-1.113,-0.374,-0.516,-0.774,0.173,1.148
328,1440,68.107,23.929,58.393,8.321,26.000,11.929,17.250,9.821,22.321,...,-0.777,0.579,2.337,0.335,2.989,1.696,-0.913,0.716,-0.585,-3.017
329,1441,59.700,21.867,57.200,5.533,18.200,10.433,15.833,12.067,23.233,...,-0.943,2.708,4.625,-1.082,1.863,0.595,0.271,2.038,0.867,-2.869
330,1442,70.231,24.577,57.885,9.192,23.769,11.885,16.769,6.808,26.692,...,-3.679,3.247,4.139,-0.676,4.435,-0.135,-2.977,0.218,-0.240,-1.614
331,1443,69.031,24.281,55.188,6.688,18.906,13.781,20.531,9.438,25.500,...,1.848,-3.805,-5.593,-0.839,-0.283,1.675,-2.099,-0.304,-0.381,-0.786
332,1444,75.065,26.839,59.226,6.613,17.290,14.774,20.742,11.065,24.194,...,-1.276,-1.226,-1.694,-1.944,-1.221,0.605,-0.193,-0.125,-0.204,0.128
333,1447,67.345,23.931,56.483,5.966,18.379,13.517,19.586,14.379,24.448,...,-0.181,0.965,1.313,0.384,-3.078,-0.710,-1.990,-0.766,-0.594,-0.160
334,1448,82.656,28.062,59.438,8.094,20.938,18.438,23.875,10.688,26.062,...,2.452,1.794,2.218,-0.188,-1.494,0.094,-0.846,0.054,0.110,3.661
335,1449,76.387,28.194,62.903,7.290,20.613,12.710,19.419,12.935,24.355,...,-1.848,1.129,1.436,1.074,-1.660,0.610,-0.452,1.361,-0.062,0.942
336,1450,69.933,25.800,56.167,6.833,18.667,11.500,15.267,6.467,25.400,...,1.792,-2.627,-3.401,0.062,0.471,0.192,-2.308,-0.225,-0.960,-2.135
337,1451,77.533,25.833,53.867,8.733,21.700,17.133,23.433,6.667,24.600,...,-6.336,-1.797,-3.459,0.948,-0.851,-1.432,-1.442,-1.148,-0.938,0.278
338,1452,81.971,29.000,63.324,7.559,20.912,16.412,24.206,14.324,22.971,...,-1.617,1.418,2.763,0.293,-0.927,-1.722,7.825,-0.830,0.137,3.076
339,1453,79.000,28.069,64.448,6.069,18.931,16.793,24.207,12.310,28.655,...,1.791,-1.271,-0.273,0.998,2.974,0.986,0.870,0.351,0.232,0.887
340,1454,66.441,24.294,55.500,7.794,22.324,10.059,15.206,8.235,22.941,...,-0.438,-2.632,-3.366,-2.023,-0.444,0.320,-1.977,-0.322,0.301,-3.269
341,1455,81.909,27.788,58.939,8.727,21.424,17.606,24.000,11.909,28.848,...,1.144,-0.304,-0.124,-0.680,-2.188,-2.319,1.117,-0.871,-0.077,2.485
342,1456,80.172,27.931,57.690,8.966,23.724,15.345,22.310,8.517,27.103,...,2.548,1.180,1.179,-0.315,-0.440,0.894,-1.605,0.550,0.483,0.010
343,1457,79.300,26.600,58.567,9.700,25.533,16.400,22.800,9.500,27.500,...,1.279,1.072,0.694,1.852,1.298,-2.157,0.494,-0.087,0.281,1.013
344,1458,71.941,26.206,58.000,7.559,21.265,11.971,18.588,12.353,24.971,...,-2.619,-4.060,-6.236,-2.344,-3.062,-4.011,0.206,-0.816,-0.963,-0.067
345,1459,76.033,26.200,58.267,8.967,23.367,14.667,18.600,9.667,23.333,...,-2.937,1.550,1.468,-1.736,0.610,-0.923,-1.003,-0.197,-0.656,-0.462
346,1460,75.700,25.267,56.967,8.733,23.500,16.433,21.633,10.133,24.833,...,1.204,0.689,0.569,-1.735,-1.251,-1.112,0.521,0.442,-0.283,2.001
347,1461,77.467,25.467,59.800,9.500,27.833,17.033,23.133,8.467,29.400,...,0.699,3.727,4.776,1.406,3.530,-1.344,0.178,1.204,0.013,2.684
348,1462,74.618,25.765,56.735,7.029,20.676,16.059,23.353,12.206,25.382,...,1.086,-1.495,-1.480,-1.286,-2.587,0.259,-0.228,0.044,0.322,3.274
349,1463,73.179,26.036,56.500,7.000,19.714,14.107,19.143,10.429,25.750,...,1.414,-1.557,-2.344,0.815,-1.867,-0.136,-1.338,0.702,0.588,-0.880
350,1464,76.000,28.625,65.750,7.281,22.188,11.469,17.031,10.469,25.750,...,1.570,-0.997,-1.736,1.551,4.269,3.026,-1.378,-0.327,0.348,-2.098

In [2]:
coaches = pd.read_csv("./DataFiles/TeamCoaches.csv")

In [3]:
coaches.head()

   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

In [10]:
coaches['CoachName'].value_counts().head(15)

mike_krzyzewski     34
jim_boeheim         34
bob_huggins         33
jim_larranaga       32
cliff_ellis         31
rick_barnes         31
lon_kruger          30
roy_williams        30
leonard_hamilton    30
fran_dunphy         29
stew_morrill        29
jim_baron           29
ben_braun           29
bob_mckillop        29
dana_altman         29
Name: CoachName, dtype: int64

In [12]:
teams[teams['TeamName'] == 'Duke']

    TeamID TeamName  FirstD1Season  LastD1Season
80    1181     Duke           1985          2018

In [13]:
tourney = pd.read_csv('./DataFiles/NCAATourneyCompactResults.csv')

In [14]:
tourney.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [60]:
def get_coach_exp(teamID, year):
    coach = get_coach(teamID, year)
    coach_exp = coaches[coaches['Season'] <= year]['CoachName'].value_counts()
    return coach_exp[coach]

In [43]:
get_coach_exp(1181, 2017)

33

In [40]:
coaches.tail()

       Season  TeamID  FirstDayNum  LastDayNum       CoachName
10987    2018    1460            0          77      scott_nagy
10988    2018    1461            0          77   allen_edwards
10989    2018    1462            0          77      chris_mack
10990    2018    1463            0          77     james_jones
10991    2018    1464            0          77  jerrod_calhoun

In [49]:
coaches[coaches['FirstDayNum'] != 0].tail()

       Season  TeamID  FirstDayNum  LastDayNum        CoachName
10553    2017    1378           65         154     murry_bartow
10681    2018    1150           45          77  houston_fancher
10719    2018    1187           31          77    michael_perry
10944    2018    1415           64          77      justin_bell
10961    2018    1431           30          77     phil_johnson

In [51]:
get_coach_exp(1378,2017)

19

In [54]:
get_coach_exp(1431,2018)

5

In [52]:
coaches[coaches['CoachName'] == 'murry_bartow']['CoachName'].value_counts()

murry_bartow    19
Name: CoachName, dtype: int64

In [55]:
coaches[coaches['CoachName'] == 'phil_johnson']['CoachName'].value_counts()

phil_johnson    5
Name: CoachName, dtype: int64

In [196]:
def get_coach_tourney_exp(teamID, year):
    coach = get_coach(teamID, year)
    seasons_played = coaches[coaches['Season'] <= year]
    coach_hist = seasons_played[seasons_played['CoachName'] == coach]
    coach_trny = pd.DataFrame(columns=['made_tournament', 'first_round', 'second_round', 'sweet_sixteen', 'elite_eight', 'final_four', 'championship_game', 'champions'])
    for yr in coach_hist.index:
        coach_trny = pd.concat([coach_trny, get_tourney_results(coach_hist.loc[yr, 'TeamID'], coach_hist.loc[yr, 'Season'])])
    coach_trny_exp = {'coach_exp': get_coach_exp(teamID, year)}
    for col in coach_trny.columns:
        coach_trny_exp[col] = coach_trny[col].sum()
    df_coach_trnyexp = pd.DataFrame(columns=['coach_exp', 'made_tournament', 'first_round', 'second_round', 'sweet_sixteen', 'elite_eight', 'final_four', 'championship_game', 'champions'])
    df_coach_trnyexp.loc[teamID] = coach_trny_exp
    return df_coach_trnyexp

In [58]:
def get_coach(teamID, year):
    seas_coaches = coaches[coaches['Season'] == year]
    team_coach = seas_coaches[seas_coaches['TeamID'] == teamID]
    if len(team_coach.index) > 1:
        if year != 2018:
            team_coach = team_coach[team_coach['LastDayNum'] == coaches['LastDayNum'].max()]
        else:
            team_coach = team_coach[team_coach['LastDayNum'] == coaches[coaches['Season'] == 2018]['LastDayNum'].max()]
    coach = team_coach.loc[team_coach.index, "CoachName"].values[0]
    return coach

In [59]:
get_coach(1181, 2018)

'mike_krzyzewski'

In [61]:
get_coach_exp(1181, 2018)

34

In [197]:
get_coach_tourney_exp(1181, 2018)

,coach_exp,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
1181,34,32,32,28,23,14,12,9,5

In [198]:
get_coach_tourney_exp(1181, 2010)

,coach_exp,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
1181,26,25,25,23,19,12,11,8,4

In [74]:
tourney[tourney['Season'] == 2017]

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2050    2017     134     1243      95     1448      88    N      0
2051    2017     134     1291      67     1309      66    N      0
2052    2017     135     1413      67     1300      63    N      0
2053    2017     135     1425      75     1344      71    N      0
2054    2017     136     1112     100     1315      82    N      0
2055    2017     136     1139      76     1457      64    N      0
2056    2017     136     1196      80     1190      65    N      0
2057    2017     136     1199      86     1195      80    N      0
2058    2017     136     1211      66     1355      46    N      0
2059    2017     136     1235      84     1305      73    N      0
2060    2017     136     1292      81     1278      72    N      0
2061    2017     136     1321      68     1435      66    N      0
2062    2017     136     1323      60     1343      58    N      0
2063    2017     136     1345      80     1436      70    N      0
2064    2017     136     1388      85     1433      77    N      0
2065    2017     136     1437      76     1291      56    N      0
2066    2017     136     1438      76     1423      71    N      0
2067    2017     136     1452      86     1137      80    N      0
2068    2017     136     1458      84     1439      74    N      0
2069    2017     136     1462      76     1268      65    N      0
2070    2017     137     1116      77     1371      71    N      0
2071    2017     137     1124      91     1308      73    N      0
2072    2017     137     1153      75     1243      61    N      0
2073    2017     137     1181      87     1407      65    N      0
2074    2017     137     1242     100     1413      62    N      0
2075    2017     137     1246      79     1297      70    N      0
2076    2017     137     1257      78     1240      63    N      0
2077    2017     137     1276      92     1329      91    N      0
2078    2017     137     1277      78     1274      58    N      0
2079    2017     137     1314     103     1411      64    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
2087    2017     138     1139      74     1292      65    N      0
2088    2017     138     1196      65     1438      39    N      0
2089    2017     138     1211      79     1321      73    N      0
2090    2017     138     1345      80     1235      76    N      0
2091    2017     138     1452      83     1323      71    N      0
2092    2017     138     1458      65     1437      62    N      0
2093    2017     138     1462      91     1199      66    N      0
2094    2017     139     1124      82     1425      78    N      0
2095    2017     139     1242      90     1277      70    N      0
2096    2017     139     1246      65     1455      62    N      0
2097    2017     139     1276      73     1257      69    N      0
2098    2017     139     1314      72     1116      65    N      0
2099    2017     139     1332      75     1348      72    N      0
2100    2017     139     1376      88     1181      81    N      0
2101    2017     139     1417      79     1153      67    N      0
2102    2017     143     1211      61     1452      58    N      0
2103    2017     143     1242      98     1345      66    N      0
2104    2017     143     1332      69     1276      68    N      0
2105    2017     143     1462      73     1112      71    N      0
2106    2017     144     1196      84     1458      83    N      1
2107    2017     144     1246      86     1417      75    N      0
2108    2017     144     1314      92     1139      80    N      0
2109    2017     144     1376      70     1124      50    N      0
2110    2017     145     1211      83     1462      59    N      0
2111    2017     145     1332      74     1242      60    N      0
2112    2017     146     1314      75     1246      73    N      0
2113    2017     146     1376      77     1196      70    N      0
2114    2017     152     1211      77     1376      73    N      0
2115    2017     152     1314      77     1332      76    N      0
2116    2017     154     1314      71     1211      65    N      0

[67 rows x 8 columns]

In [112]:
def get_tourney_results(teamID, year):
    tourney_yr = tourney[tourney['Season'] == year]
    results = {}
    championship = tourney_yr[tourney_yr['DayNum'] == 154]
    if teamID not in list(championship['WTeamID']):
        results['champions'] = 0
    else:
        results['champions'] = 1
    final_four = tourney_yr[tourney_yr['DayNum'] > 150]
    if teamID not in list(final_four['WTeamID']):
        if teamID not in list(final_four['LTeamID']):
            results['championship_game'] = 0
            results['final_four'] = 0
        else:
            results['championship_game'] = 0
            results['final_four'] = 1
    else:
        results['championship_game'] = 1
        results['final_four'] = 1
    sweet_sixteen = tourney_yr[tourney_yr['DayNum'] > 140]
    if teamID not in list(sweet_sixteen['WTeamID']):
        if teamID not in list(sweet_sixteen['LTeamID']):
            results['elite_eight'] = 0
            results['sweet_sixteen'] = 0
        else:
            results['elite_eight'] = 0
            results['sweet_sixteen'] = 1
    else:
        results['elite_eight'] = 1
        results['sweet_sixteen'] = 1
    first_four = tourney_yr[tourney_yr['DayNum'] <= 135]
    full_tourney = tourney_yr[tourney_yr['DayNum'] > 135]
    if teamID not in list(full_tourney['WTeamID']):
        if teamID not in list(tourney_yr['LTeamID']):
            results['made_tournament'] = 0
            results['first_round'] = 0
            results['second_round'] = 0
        elif teamID in list(first_four['LTeamID']):
            results['made_tournament'] = 1
            results['first_round'] = 0
            results['second_round'] = 0
        else:
            results['made_tournament'] = 1
            results['first_round'] = 1
            results['second_round'] = 0
    else:
        results['made_tournament'] = 1
        results['first_round'] = 1
        results['second_round'] = 1
    df_results = pd.DataFrame(columns=['made_tournament', 'first_round', 'second_round', 'sweet_sixteen', 'elite_eight', 'final_four', 'championship_game', 'champions'])
    df_results.loc[year] = results                    
    return df_results

In [99]:
tourney[tourney['Season'] == 2017]

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2050    2017     134     1243      95     1448      88    N      0
2051    2017     134     1291      67     1309      66    N      0
2052    2017     135     1413      67     1300      63    N      0
2053    2017     135     1425      75     1344      71    N      0
2054    2017     136     1112     100     1315      82    N      0
2055    2017     136     1139      76     1457      64    N      0
2056    2017     136     1196      80     1190      65    N      0
2057    2017     136     1199      86     1195      80    N      0
2058    2017     136     1211      66     1355      46    N      0
2059    2017     136     1235      84     1305      73    N      0
2060    2017     136     1292      81     1278      72    N      0
2061    2017     136     1321      68     1435      66    N      0
2062    2017     136     1323      60     1343      58    N      0
2063    2017     136     1345      80     1436      70    N      0
2064    2017     136     1388      85     1433      77    N      0
2065    2017     136     1437      76     1291      56    N      0
2066    2017     136     1438      76     1423      71    N      0
2067    2017     136     1452      86     1137      80    N      0
2068    2017     136     1458      84     1439      74    N      0
2069    2017     136     1462      76     1268      65    N      0
2070    2017     137     1116      77     1371      71    N      0
2071    2017     137     1124      91     1308      73    N      0
2072    2017     137     1153      75     1243      61    N      0
2073    2017     137     1181      87     1407      65    N      0
2074    2017     137     1242     100     1413      62    N      0
2075    2017     137     1246      79     1297      70    N      0
2076    2017     137     1257      78     1240      63    N      0
2077    2017     137     1276      92     1329      91    N      0
2078    2017     137     1277      78     1274      58    N      0
2079    2017     137     1314     103     1411      64    N      0
...      ...     ...      ...     ...      ...     ...  ...    ...
2087    2017     138     1139      74     1292      65    N      0
2088    2017     138     1196      65     1438      39    N      0
2089    2017     138     1211      79     1321      73    N      0
2090    2017     138     1345      80     1235      76    N      0
2091    2017     138     1452      83     1323      71    N      0
2092    2017     138     1458      65     1437      62    N      0
2093    2017     138     1462      91     1199      66    N      0
2094    2017     139     1124      82     1425      78    N      0
2095    2017     139     1242      90     1277      70    N      0
2096    2017     139     1246      65     1455      62    N      0
2097    2017     139     1276      73     1257      69    N      0
2098    2017     139     1314      72     1116      65    N      0
2099    2017     139     1332      75     1348      72    N      0
2100    2017     139     1376      88     1181      81    N      0
2101    2017     139     1417      79     1153      67    N      0
2102    2017     143     1211      61     1452      58    N      0
2103    2017     143     1242      98     1345      66    N      0
2104    2017     143     1332      69     1276      68    N      0
2105    2017     143     1462      73     1112      71    N      0
2106    2017     144     1196      84     1458      83    N      1
2107    2017     144     1246      86     1417      75    N      0
2108    2017     144     1314      92     1139      80    N      0
2109    2017     144     1376      70     1124      50    N      0
2110    2017     145     1211      83     1462      59    N      0
2111    2017     145     1332      74     1242      60    N      0
2112    2017     146     1314      75     1246      73    N      0
2113    2017     146     1376      77     1196      70    N      0
2114    2017     152     1211      77     1376      73    N      0
2115    2017     152     1314      77     1332      76    N      0
2116    2017     154     1314      71     1211      65    N      0

[67 rows x 8 columns]

In [100]:
get_tourney_results(1314, 2017)
#championship team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,1,1,1,1,1

In [101]:
get_tourney_results(1211, 2017)
#runner-up

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,1,1,1,1,0

In [104]:
get_tourney_results(1376, 2017)
#final four team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,1,1,1,0,0

In [105]:
get_tourney_results(1246, 2017)
#elite eight team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,1,1,0,0,0

In [106]:
get_tourney_results(1417, 2017)
#sweet sixteen team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,1,0,0,0,0

In [115]:
get_tourney_results(1181, 2017)
#second round team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,1,0,0,0,0,0

In [114]:
get_tourney_results(1315, 2017)
#first round team

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,0,0,0,0,0,0

In [113]:
get_tourney_results(1413, 2017)
#first four winner

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,1,0,0,0,0,0,0

In [109]:
get_tourney_results(1448, 2017)
#first four loser

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,1,0,0,0,0,0,0,0

In [107]:
get_tourney_results(1400, 2017)
#not in tournament

,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
2017,0,0,0,0,0,0,0,0

In [144]:
def get_coaches(year):
    df_teams = get_teams(year)
    df_teams.reset_index(drop = True, inplace = True)
    df_coaches = get_coach_tourney_exp(df_teams.loc[0, 'TeamID'], year)
    for n in range(1, len(df_teams)):
        df_coaches = pd.concat([df_coaches, get_coach_tourney_exp(df_teams.loc[n, 'TeamID'], year)])
    df_coaches.reset_index(inplace = True)
    return df_teams.merge(df_coaches.rename(columns={'index': 'TeamID'}), on="TeamID")

In [145]:
get_coaches(2017)

,TeamID,TeamName,coach_exp,made_tournament,first_round,second_round,sweet_sixteen,elite_eight,final_four,championship_game,champions
0,1101,Abilene Chr,4,0,0,0,0,0,0,0,0
1,1102,Air Force,6,0,0,0,0,0,0,0,0
2,1103,Akron,15,3,3,0,0,0,0,0,0
3,1104,Alabama,2,0,0,0,0,0,0,0,0
4,1105,Alabama A&M,6,0,0,0,0,0,0,0,0
5,1106,Alabama St,12,2,0,0,0,0,0,0,0
6,1107,Albany NY,16,5,5,0,0,0,0,0,0
7,1108,Alcorn St,2,0,0,0,0,0,0,0,0
8,1110,American Univ,4,1,1,0,0,0,0,0,0
9,1111,Appalachian St,3,0,0,0,0,0,0,0,0
10,1112,Arizona,13,10,10,8,7,4,0,0,0
11,1113,Arizona St,4,1,1,0,0,0,0,0,0
12,1114,Ark Little Rock,1,0,0,0,0,0,0,0,0
13,1115,Ark Pine Bluff,9,1,1,0,0,0,0,0,0
14,1116,Arkansas,15,8,8,6,2,1,0,0,0
15,1117,Arkansas St,1,0,0,0,0,0,0,0,0
16,1119,Army,1,0,0,0,0,0,0,0,0
17,1120,Auburn,13,8,8,5,4,1,0,0,0
18,1122,Austin Peay,27,4,4,0,0,0,0,0,0
19,1123,Ball St,4,0,0,0,0,0,0,0,0
20,1124,Baylor,15,7,7,4,4,2,0,0,0
21,1125,Belmont,18,7,7,0,0,0,0,0,0
22,1126,Bethune-Cookman,6,0,0,0,0,0,0,0,0
23,1127,Binghamton,12,0,0,0,0,0,0,0,0
24,1129,Boise St,7,2,0,0,0,0,0,0,0
25,1130,Boston College,15,2,2,0,0,0,0,0,0
26,1131,Boston Univ,13,0,0,0,0,0,0,0,0
27,1132,Bowling Green,2,0,0,0,0,0,0,0,0
28,1133,Bradley,7,0,0,0,0,0,0,0,0
29,1135,Brown,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
321,1433,VA Commonwealth,4,2,2,1,0,0,0,0,0
322,1434,Valparaiso,1,0,0,0,0,0,0,0,0
323,1435,Vanderbilt,6,3,3,0,0,0,0,0,0
324,1436,Vermont,6,2,2,0,0,0,0,0,0
325,1437,Villanova,23,14,14,9,5,3,2,1,1
326,1438,Virginia,11,7,7,6,3,1,0,0,0
327,1439,Virginia Tech,10,6,6,4,3,1,0,0,0
328,1440,VMI,2,0,0,0,0,0,0,0,0
329,1441,W Carolina,24,1,1,0,0,0,0,0,0
330,1442,W Illinois,3,0,0,0,0,0,0,0,0
331,1443,WKU,15,6,6,4,0,0,0,0,0
332,1444,W Michigan,14,2,2,0,0,0,0,0,0
333,1447,Wagner,5,0,0,0,0,0,0,0,0
334,1448,Wake Forest,5,2,1,0,0,0,0,0,0
335,1449,Washington,21,7,7,5,3,0,0,0,0
336,1450,Washington St,22,6,6,2,2,2,0,0,0
337,1451,Weber St,11,3,3,0,0,0,0,0,0
338,1452,West Virginia,32,23,23,17,8,4,2,0,0
339,1453,WI Green Bay,2,1,1,0,0,0,0,0,0
340,1454,WI Milwaukee,1,0,0,0,0,0,0,0,0
341,1455,Wichita St,19,13,12,6,2,1,1,0,0
342,1456,William & Mary,14,0,0,0,0,0,0,0,0
343,1457,Winthrop,5,1,1,0,0,0,0,0,0
344,1458,Wisconsin,2,2,2,2,2,0,0,0,0
345,1459,Wofford,15,4,4,0,0,0,0,0,0
346,1460,Wright St,12,3,3,0,0,0,0,0,0
347,1461,Wyoming,1,0,0,0,0,0,0,0,0
348,1462,Xavier,8,7,6,5,4,1,0,0,0
349,1463,Yale,18,1,1,1,0,0,0,0,0
350,1464,Youngstown St,12,0,0,0,0,0,0,0,0

In [146]:
seeds = pd.read_csv('./DataFiles/NCAATourneySeeds.csv')

In [193]:
def assemble_teams(teams, year):
    df_tourney_teams = seeds[seeds['Season'] == year]
    tourney_teams = list(df_tourney_teams['TeamID'])
    teamlist = teams['TeamID']
    drops = []
    for i in teams.index:
        t = teams.loc[i, 'TeamID']
        if t not in tourney_teams:
            drops.append(i)
    tourney_seeds = get_seeds(year)
    return teams.drop(drops).merge(tourney_seeds, on="TeamID")

In [194]:
assemble_teams(get_teams(2017), 2017)

    TeamID         TeamName Seed
0     1112          Arizona    2
1     1116         Arkansas    8
2     1124           Baylor    3
3     1137         Bucknell   13
4     1139           Butler    4
5     1153       Cincinnati    6
6     1166        Creighton    6
7     1173           Dayton    7
8     1181             Duke    2
9     1190             ETSU   13
10    1195    FL Gulf Coast   14
11    1196          Florida    4
12    1199       Florida St    3
13    1211          Gonzaga    1
14    1233             Iona   14
15    1235          Iowa St    5
16    1240  Jacksonville St   15
17    1242           Kansas    1
18    1243        Kansas St   11
19    1245             Kent   14
20    1246         Kentucky    2
21    1257       Louisville    2
22    1266        Marquette   10
23    1268         Maryland    6
24    1274         Miami FL    8
25    1276         Michigan    7
26    1277      Michigan St    9
27    1278        Minnesota    5
28    1291     Mt St Mary's   16
29    1292             MTSU   12
..     ...              ...  ...
38    1323       Notre Dame    5
39    1329      Oklahoma St   10
40    1332           Oregon    3
41    1343        Princeton   12
42    1344       Providence   11
43    1345           Purdue    4
44    1348     Rhode Island   11
45    1355      S Dakota St   16
46    1371       Seton Hall    9
47    1374              SMU    6
48    1376   South Carolina    7
49    1388     St Mary's CA    7
50    1407             Troy   15
51    1411      TX Southern   16
52    1413         UC Davis   16
53    1417             UCLA    3
54    1423   UNC Wilmington   12
55    1425              USC   11
56    1433  VA Commonwealth   10
57    1435       Vanderbilt    9
58    1436          Vermont   13
59    1437        Villanova    1
60    1438         Virginia    5
61    1439    Virginia Tech    9
62    1448      Wake Forest   11
63    1452    West Virginia    4
64    1455       Wichita St   10
65    1457         Winthrop   13
66    1458        Wisconsin    8
67    1462           Xavier   11

[68 rows x 3 columns]

In [191]:
def get_seeds(year):
    tourney_seeds = seeds[seeds['Season'] == year]
    team_seeds = pd.DataFrame(columns=['Seed'])
    for i in tourney_seeds.index:
        team_seeds.loc[tourney_seeds.loc[i, 'TeamID']] = int(tourney_seeds.loc[i, 'Seed'][1:3])
    return team_seeds.reset_index().rename(columns={"index":"TeamID"})

In [192]:
get_seeds(2017)

    TeamID Seed
0     1437    1
1     1181    2
2     1124    3
3     1196    4
4     1438    5
5     1374    6
6     1376    7
7     1458    8
8     1439    9
9     1266   10
10    1344   11
11    1425   11
12    1423   12
13    1190   13
14    1308   14
15    1407   15
16    1291   16
17    1309   16
18    1211    1
19    1112    2
20    1199    3
21    1452    4
22    1323    5
23    1268    6
24    1388    7
25    1321    8
26    1435    9
27    1433   10
28    1462   11
29    1343   12
..     ...  ...
38    1235    5
39    1166    6
40    1276    7
41    1274    8
42    1277    9
43    1329   10
44    1348   11
45    1305   12
46    1436   13
47    1233   14
48    1240   15
49    1300   16
50    1413   16
51    1314    1
52    1246    2
53    1417    3
54    1139    4
55    1278    5
56    1153    6
57    1173    7
58    1116    8
59    1371    9
60    1455   10
61    1243   11
62    1448   11
63    1292   12
64    1457   13
65    1245   14
66    1297   15
67    1411   16

[68 rows x 2 columns]

In [5]:
massey = pd.read_csv('./MasseyOrdinals_thruSeason2018_Day128.csv')

In [9]:
get_rankings(2018)

/Users/arpariseau/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

     TeamID  MeanRank  AbsMeanRank
0      1101  262.0492          262
1      1102  230.4426          227
2      1103  237.7705          237
3      1104   54.8361           54
4      1105  350.0000          351
5      1106  337.5246          339
6      1107  148.4426          150
7      1108  336.0492          336
8      1110  329.2787          330
9      1111  221.4754          221
10     1112   23.2459           23
11     1113   42.1311           42
12     1114  295.3607          299
13     1115  319.9508          324
14     1116   30.3443           28
15     1117  276.9016          279
16     1119  271.6721          270
17     1120   12.0984           11
18     1122  187.8525          190
19     1123  151.9016          155
20     1124   39.8033           38
21     1125   84.8689           85
22     1126  278.1311          280
23     1127  303.3115          309
24     1129   53.1475           52
25     1130   78.7377           77
26     1131  246.5574          245
27     1132  222.5246          222
28     1133  127.0164          124
29     1135  268.7377          267
..      ...       ...          ...
321    1433  131.1148          130
322    1434  168.7705          169
323    1435   92.0328           89
324    1436   71.9016           70
325    1437    1.9344            2
326    1438    1.7869            1
327    1439   33.4426           31
328    1440  324.5574          327
329    1441  274.5082          275
330    1442  285.3770          287
331    1443   70.3443           68
332    1444  178.6393          179
333    1447  155.0000          158
334    1448  112.0984          109
335    1449   81.0164           79
336    1450  176.6230          176
337    1451  150.3607          151
338    1452   14.7541           15
339    1453  273.7869          273
340    1454  213.9508          212
341    1455   14.9180           16
342    1456  140.2131          141
343    1457  167.5246          168
344    1458   81.5410           81
345    1459  140.4918          143
346    1460  128.2295          127
347    1461  106.7377          104
348    1462    8.2623            7
349    1463  187.5410          189
350    1464  324.6066          328

[351 rows x 3 columns]